._navbar {
    width: 53%;
    margin: 0 auto;
    font-family: $font-1;
    padding-top: 1rem;
    .brand {
        color: white;
        h3 {
            font-size: 20px;
        }
        .anim {
            animation: anim 0.3s;
            position: absolute;
            color: #11cc9e;
            transition: all 0.3s;
            opacity: 0;
            z-index: 1;
            pointer-events: none;
        }
        .orig {
            transition: all 0.2s;
        }
        &:hover {
            .orig {
                transform: translateY(-40px);
                opacity: 0;
            }
            .anim {
                transform: translateY(-35px);
                opacity: 1;
            }
        }
    }
    .links {
        margin-left: auto;
        color: white;

        a {
            padding: 0.5rem;
            color: white;
            text-decoration: none;
        }
    }
}

@media (max-width: 600px) {
    ._navbar {
        .links {
            display: none !important;
        }
    }
}