@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Nunito&&display=swap');
@font-face {
    font-family: gilroy;
    src: url('./gilroy.ttf');
};

$font-1: gilroy;
$font-2: Roboto;
$font-3: Open Sans;
$font-4: Nunito;