.box {
    label {display: block;}
    input {
        padding: 0.4rem;
        border-radius: 0.4rem;
        border: none;
        border: 2px solid grey;
    }
    textarea {
        width: 500px;
        height: 700px;
        padding: 0.4rem;
        border-radius: 0.4rem;
        border: none;
        border: 2px solid grey;
    }
    margin-bottom: 2rem;
}